.button-group {
  position: absolute;
  top: 10px;
  left: 60px;
  display: flex;
  align-items: center;
  z-index: 9999;
}

.my_polygons,
.save-polygon {
  height: 40px;
  border-radius: 10px;
}

.polygon-color {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    width: 50px;
    height: 15px;
  }
}
.icon-badge {
  width: 40px !important;
  height: 40px !important;
  overflow: hidden;
}

.custom-badge-icon {
  position: relative;
  height: 20px !important;

  > div {
    position: relative;
  }

  > div > div {
    position: absolute;
    top: -60%;
    left: 0%;
    font-size: 12px;
    white-space: nowrap;
    background: #0098fd;
    border: 1px solid #fff;
    color: white;
  }
}

.custom-point-icon {
  > span {
    border: 1px solid #fff;
  }
}

.show-polygon-points {
  position: fixed;
  width: 280px;
  height: 40px;
  bottom: 20px;
  right: -300px;
  z-index: 99999999;
  transition: all 0.2s;
}

.show-polygon-points.open {
  right: 20px;
}

.show-polygon-points.disabled {
  background: #999;
  border-color: #666;
  cursor: not-allowed;
}

.show-polygon-points.disabled:hover {
  background: #999 !important;
  border-color: #666;
}

@media (max-width: 500px) {
  .my_polygons,
  .save-polygon {
    height: 35px;
    border-radius: 8px;
  }
  .button-group {
    left: unset;
    right: 10px;
  }

  .show-polygon-points {
    width: var(--point-width);
    right: 10px !important;
    bottom: -80px;
  }

  .show-polygon-points.open {
    bottom: 20px;
  }
}
